{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            {% if subscription.status == "active" %}
            {{ product.name }}

            <form method="post" action="{% url 'accounts:cancel' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-success" value="Se désabonner">

            </form>

            {% else %}
            <p>Pas d'abonnement en cours</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}