{% extends 'base.html' %}

{% block title %}Images archivées{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        {% if images %}
        <div class="col">


            <form method="post" action="{% url 'compressor:all-premium-images' %}">
                {% csrf_token %}
                {{ forms.management_form }}

                {% for form in forms %}

                <img src="{{ form.instance.image.url }}" style="max-width: 500px; margin-bottom: 20px;">
                {{ form.as_p }}
                {% endfor %}

                <button type="submit" class="btn btn-danger">Supprimer</button>

            </form>

        </div>
        {% else %}
        <div class="col">
            <p>Vous n'avez pas encore d'images archivées</p>


        </div>
        {% endif %}

    </div>


</div>

{% endblock %}