{% extends 'base.html' %}

{% block title %}Images archivées{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="col-4" style="margin-bottom: 20px;">
            <img src="{{ image.image.url }}" style="max-width: 200px;">

        </div>
        {% endfor %}
        {% else %}
        <div class="col">

            <p>Vous n'avez pas encore d'images archivées !</p>
        </div>
        {% endif %}
    </div>



</div>

{% endblock %}