{% extends 'base.html' %}

{% block title %}Images{% endblock %}

{% block body %}
<div class="container text-center">

    <div class="row">
        <div class="col">
            <h1>Images</h1>
            <form method="post" action="{% url 'compressor:compress-images-premium' %}">
                {% csrf_token %}
                {{ forms.management_form }}

                {% for form in forms %}
                <img src="{{ form.instance.image.url }}" style="max-width: 500px; margin-bottom: 20px;">
                {{ form.as_p }}
                {% endfor %}

                <button class="btn btn-success" type="submit">Compress !</button>


            </form>

            {% if messages %}

            {% for message in messages %}
            <h2 style="color: RED;">{{ message }}</h2>
            {% endfor %}

            {% endif %}

        </div>
    </div>

</div>

{% endblock %}