{% extends 'base.html' %}

{% block title %}Premium{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Up mais en mode premium la classe !</h1>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Lâche toi !</label>
                    <input name="images" type="file" multiple class="form-control" style="margin-bottom: 10px;">

                    <label for="quality">Qualité</label>
                    <input type="number" name="quality" id="quality" placeholder="De 1 à 100, 1 était le niveau de compression max">

                    <label for="width">Largeur</label>
                    <input type="number" name="width" id="width">

                    <label for="height">Largeur</label>
                    <input type="number" name="height" id="height">
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}