{% extends 'base.html' %}

{% block title %}Souscription{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">

            {% if not subscription.status == "active" %}
            <form method="post" action="{% url 'compressor:create-checkout-session' %}">
                {% csrf_token %}
                <input type="submit" value="Devenir premium" class="btn btn-success">
            </form>
{% else %}
            <p>Vous possédez un abonnement</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}